<div id="navigation-expand" onclick="ShowHideNavi()">Navigation</div>
<div id="navigation-links" class="fadedOut">
    <div style="width:100%;">
            <a href='/'><h4 style="display:inline-flex;padding: 0px 10px 0px 10px;">About</h4></a>
            <a href='/projects'><h4 style="display:inline-flex;padding: 0px 10px 0px 10px;">Projects</h4></a>
            <a href='/writing'><h4 style="display:inline-flex;padding: 0px 10px 0px 10px;">Writing</h4></a>
    </div>
</div>
<script>
    function ShowHideNavi() {
        var links = document.getElementById("navigation-links")
        var isShowing = links.className == 'fadedIn';
        links.className = (isShowing ? "fadedOut" : "fadedIn");
        links.style.animation = ((isShowing ? "slideUp" : "slideDown") + " ease-in 100ms 1");
    }
</script>