<!DOCTYPE html5>
<html>
	<head>
        <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Source+Code+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="bar">
            <a href="/">
            <h2>&#8592; Back to Home</h2>
            <h1 class="chromatic">Evan M. R. Sampson</h1>
        </a>
        </div>
        <div class="blog-content">{{ content }}</div>
    </body>
</html>