<!DOCTYPE html5>
<html>
	<head>
		<title>Evan M. R. Sampson</title>
		{% include header_stuff.html %}
		<script src="javascript/home.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
    <body>
	    <header id="homepage-header">
			<div class="controls">
				<svg class="play"
					width="24pt"
					height="24pt"
					viewBox="0 0 24 24">
					<defs/>
					<path class="chromatic" id="shape0" fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="1.360044" stroke-linecap="square" stroke-linejoin="bevel" d="M0 24L0 0L24 12.9825L0 24Z"/>
				</svg>
				<svg class="pause";
					width="24pt"
					height="24pt"
					viewBox="0 0 24 24">
					<defs/>
					<path id="shape0" transform="matrix(1.2732639989 0 0 0.99999998239 1.333677021 2.1126114813e-07)" fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="1.360044" stroke-linecap="square" stroke-linejoin="bevel" d="M0 0L6.95793 0L6.87308 24L0 24Z"/><path id="shape01" transform="matrix(1.2732640218 0 0 0.99999996478 13.807041044 4.2258114235e-07)" fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="1.360044" stroke-linecap="square" stroke-linejoin="bevel" d="M0 0L6.95793 0L6.87308 24L0 24Z"/>
				</svg>
			</div>
			<div class="loading"></div>
			<img src="images/header.jpg" onload="revealHeader()">
			<div class="titles">
				<h1 class="header-title chromatic">Evan M. R. Sampson</h1>
				<h2 class="header-title chromatic">Software / Games</h2>
			</div>
		</header>

		{% include navigation_links.html %}

		{{ content }}
		
</html>
