<!DOCTYPE html5>
<html>
	<head>
		<title>Evan M. R. Sampson</title>
		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="images/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="images/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="images/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="images/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png">
		<link rel="apple-touch-icon" href="images/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/favicon-144.png">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Source+Code+Pro|Merriweather&display=swap" rel="stylesheet">
		<script src="javascript/home.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
    <body>
	    <header id="homepage-header">
			<div class="controls">
				<svg class="play"
					width="24pt"
					height="24pt"
					viewBox="0 0 24 24">
					<defs/>
					<path class="chromatic" id="shape0" fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="1.360044" stroke-linecap="square" stroke-linejoin="bevel" d="M0 24L0 0L24 12.9825L0 24Z"/>
				</svg>
				<svg class="pause";
					width="24pt"
					height="24pt"
					viewBox="0 0 24 24">
					<defs/>
					<path id="shape0" transform="matrix(1.2732639989 0 0 0.99999998239 1.333677021 2.1126114813e-07)" fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="1.360044" stroke-linecap="square" stroke-linejoin="bevel" d="M0 0L6.95793 0L6.87308 24L0 24Z"/><path id="shape01" transform="matrix(1.2732640218 0 0 0.99999996478 13.807041044 4.2258114235e-07)" fill="#000000" fill-rule="evenodd" stroke="#000000" stroke-width="1.360044" stroke-linecap="square" stroke-linejoin="bevel" d="M0 0L6.95793 0L6.87308 24L0 24Z"/>
				</svg>
			</div>
			<div class="loading"></div>
			<img src="images/header.jpg" onload="revealHeader()">
			<div class="titles">
				<h1 class="header-title chromatic">Evan M. R. Sampson</h1>
				<h2 class="header-title chromatic">Software / Games</h2>
			</div>
		</header>

		{% include navigation.html %}

		{{ content }}
		
</html>
